body{
    text-align: center;
    border: 1px solid black;
    padding: 4em;
    margin:2em;
}

thead, tfoot{
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;

}
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: .8rem;
    }

    td,
    th {
        border: 1px solid rgb(190, 190, 190);
        padding: 5px 10px;
    }